<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <button onclick="window.location.href='/stud/register'">Регистрация студента</button>
    <button onclick="window.location.href='/stud/login'">Вход студента</button>
    <button onclick="window.location.href='/curat/Cregister'">Регистрация куратора</button>
    <button onclick="window.location.href='/curat/Clogin'">Вход куратора</button>
    <button onclick="window.location.href='/view_diploms'">Просмотреть дипломы</button>
</body>
</html>


